@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    font-family: 'Roboto', monospace;
}

html {
    height: 99%;
    width: 99%;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #121212;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #121212, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #121212, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.calculator_wrapper {
    height: 80vh;
    width: 50vh;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    background-color: black;
    padding: 6vh 3vh;
    border-radius: 5%;
    border: 4px solid #ffffff20;
    min-height: 500px;
    min-width: 300px;
}

.display_wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    text-align: end;
    font-size: 4em;
    padding: 0 1rem;
    color: white;
    background-color: black;
}


.display_top_container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: end;
}

.display_bottom_container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: end;
}

.button_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 3;
    width: 100%;
}

button {
    margin: 0;
    border-radius: 100%;
    width: 10vh;
    height: 10vh;
    font-size: 1.9em;
    border: 1px solid #ffffff50;
}

.num {
    background-color: rgb(49,49,49);
    color: white;
}

.operator {
    background-color: rgb(246,153,6);
    font-size: 2.3em;
}

.special {
    background-color: rgb(156,156,156);
}

.row {
    flex-grow: 1;
    width: 100%;
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

.btn_clear {
    width: 21vh;
    border-radius: 100000000px;
}


.btn_0 {
    width: 32vh;
    border-radius: 100000000px;
}

.operator:hover {
    background-color: rgba(250, 204, 0, 0.849);
}

.operator:active {
    background-color: rgb(246,153,6);
}

.num:hover {
    background-color: rgb(65, 65, 65);
}

.num:active {
    background-color: rgb(49,49,49);
}

.special:hover {
    background-color: rgb(177, 177, 177);
}

.special:active {
    background-color: rgb(156,156,156);
}